<div class="navbar">
  <div class="nav">
    <%= link_to "Home", root_path %>
  </div>
  <div class="nav">
    <%= link_to "About Me", about_me_path %>
  </div>
  <div class="nav">
    <%= link_to "Projects", projects_path %>
  </div>
  <div class="nav">
    <%= link_to "Blogs", blogs_path %>
  </div>
  <div class="nav">
    <%= link_to "Contact", contact_path %>
  </div>
</div>
