<h1> Projects </h1>

<%= link_to "Create New Project", new_project_path %>

<% @projects.each do |project| %>
  <h2><%= link_to project.title, project_path(project) %><h2>
  <h4><%= project.subtitle %><h4>
  <p><%= project.body %><p>
  <p><%= project.main_image %><p>
  <% unless project.thumb_image.nil? %>
    <%= image_tag project.thumb_image %>
  <% end %>
  <%= link_to 'Edit Project', edit_project_path(project) %>
  <%= link_to 'Delete Project', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
